version: '2'
mpp-vars:
  name: {{ build_name }}
  ssh_permit_password_auth: {{ mpp_vars.ssh_permit_password_auth }}
  ssh_permit_root_login: {{ mpp_vars.ssh_permit_root_login }}
  root_ssh_key: {{ ssh_public_key }}
pipelines:
- name: rootfs
  build: name:build
  stages:
  - type: org.osbuild.rpm
    options:
      gpgkeys:
      - mpp-eval: distro_gpg_keys
      disable_dracut: true
      exclude:
        docs: true
    inputs:
      packages:
        type: org.osbuild.files
        origin: org.osbuild.source
        mpp-depsolve:
          architecture: $arch
          ignore-weak-deps: true
          module-platform-id: $distro_module_id
          baseurl: $distro_baseurl_repo
          repos:
            mpp-join:
            - mpp-eval: image_repos
            - mpp-eval: image_devel_repos
            - mpp-eval: extra_repos
          packages:
            mpp-join:
            - mpp-eval: image_rpms
            - mpp-eval: extra_rpms
            - - "@Development Tools"
              # Some convenience packages
              - bash-completion
              - chrony
              - audit
              - dnf
              - less
              - strace
              - sudo
              - vim
              - git
              - wget
              - make
              # Dependencies to build RPMs and images
              - rpm-build
              - hostname
              - openssl-devel
              - bc
              - binutils-devel
              - bpftool
              - clang
              - dwarves
              - gcc-plugin-devel
              - gperf
              - kmod-devel
              - libcap-devel
              - libcap-ng-devel
              - libmnl-devel
              - llvm
              - meson
              - net-tools
              - numactl-devel
              - openssh-clients
              - openssh-server
              - perl-devel
              - python3-devel
              - python3-docutils
              - python3-jinja2
              - rsync
              - iputils
              - iproute
              - qemu-kvm
              - fuse-devel
              - kernel-rpm-macros
              - mpp-if: use_aboot
                then: aboot-update
              # Dependencies to build ostree binaries
              - glib2-devel
              - e2fsprogs-devel
              - gpgme-devel
              # Container tools
              - podman
              - buildah
              - skopeo
              # bpf tools
              - bcc
              - bcc-tools
              # debugging tools
              - sos
          excludes:
          - dracut-config-rescue
  - type: org.osbuild.groups
    options:
      groups:
        guest:
          gid:
            mpp-eval: guest_gid
  - type: org.osbuild.users
    options:
      users:
        guest:
          password:
            mpp-eval: guest_password
          gid:
            mpp-eval: guest_gid
          uid:
            mpp-eval: guest_uid
  - type: org.osbuild.sshd.config
    options:
      config:
        PasswordAuthentication:
          mpp-eval: ssh_permit_password_auth
        PermitRootLogin:
          mpp-eval: ssh_permit_root_login
  - type: org.osbuild.systemd
    options:
      enabled_services:
      - sshd.service
