all:
  vars:
    # set the following RHDP instance specific variables
    cluster_guid: "5gvk2"   # get this from the RHPD Demo URL
    cluster_instance: "5gvk2-q6r7p" # get this from one of the OpenShift MachineSets

    # "arm" worker instance definition
    arm_instance_type: "m6g.4xlarge"
    arm_ami_id: "ami-033926c77d78f501a" # find the AMI ID for your region !
    arm_instance_count: 1
    arm_volume_size: 250
    arm_volume_type: "gp3"

