apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  name: "{{ cluster_instance }}-worker-arm-{{ availability_zone }}"
  namespace: openshift-machine-api
spec:
  replicas: {{ arm_instance_count }}
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: "cluster-{{ cluster_instance }}"
      machine.openshift.io/cluster-api-machineset: "cluster-{{ cluster_instance }}-worker-arm-{{ availability_zone }}"
  template:
    metadata:
      labels:
        machine.openshift.io/cluster-api-cluster: "cluster-{{ cluster_instance }}"
        machine.openshift.io/cluster-api-machine-role: worker-arm
        machine.openshift.io/cluster-api-machine-type: worker-arm
        machine.openshift.io/cluster-api-machineset: "cluster-{{ cluster_instance }}-worker-arm-{{ availability_zone }}"
    spec:
      providerSpec:
        value:
          userDataSecret:
            name: worker-user-data
          placement:
            availabilityZone: "{{ availability_zone }}"
            region: "{{ region }}"
          credentialsSecret:
            name: aws-cloud-credentials
          instanceType: "{{ arm_instance_type }}"
          blockDevices:
            - ebs:
                encrypted: true
                iops: 0
                kmsKey:
                  arn: ""
                volumeSize: {{ arm_volume_size }}
                volumeType: "{{ arm_volume_type }}"
          securityGroups:
            - filters:
                - name: "tag:Name"
                  values:
                    - "cluster-{{ cluster_instance }}-node" # cluster-s55xj-7pg8p-node
            - filters:
                - name: "tag:Name"
                  values:
                    - "cluster-{{ cluster_instance }}-lb"
          kind: AWSMachineProviderConfig
          metadataServiceOptions: {}
          tags:
            - name: kubernetes.io/cluster/cluster-{{ cluster_instance }}
              value: owned
            - name: Stack
              value: "project ocp4-cluster-{{ cluster_guid}}"
            - name: env_type
              value: ocp4-cluster
            - name: guid
              value: "{{ cluster_guid}}"
            - name: owner
              value: unknown
            - name: platform
              value: rhpds
          ami:
            id: "{{ arm_ami_id }}"
          subnet:
            filters:
              - name: "tag:Name"
                values:
                  - "cluster-{{ cluster_instance }}-subnet-private-{{ availability_zone }}"
          apiVersion: machine.openshift.io/v1beta1
          iamInstanceProfile:
            id: "cluster-{{ cluster_instance }}-worker-profile"
      versions:
        kubelet: ""
